@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Maitree:wght@200&display=swap');

/* font-family: 'Kanit', sans-serif; */
/* font-family: 'Maitree', serif; */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.main {
    margin: 2rem;
}

.logo_egp {
    width: auto;
    height: 70px;
    margin-right: 1rem;
}

.logo_seplag {
    width: auto;
    height: 90px;
}

.title {
    color: #26a737;
    font-size: 3rem;
}


.description{
    font-size: 0.8rem;
    margin-top: -0.6rem;
    color: rgb(75, 75, 75);
}
.center {
    display: flex;
    justify-content: center;
}
.subtitle {
    color: #26a737;
    font-size: 2rem;
    font-weight: bold;
}
.btn{
    margin: 0.6rem;
}