@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Kanit', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    color: rgb(75, 75, 75);
}

body {
    overflow-x: hidden;
}

/* BARRA DE SCROLL DO SITE  */
body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #e9e9e9;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(173, 173, 173);
    border-radius: 10px;
}

/* FIM DA BARRA DE SCROLL  */

/* CONTEUDO PRINCIPAL  */
.main {
    margin: 2rem;
    margin-bottom: 5rem;
}

ul {
    list-style: none;

}

ul li {
    display: flex;
    text-align: left;
    font-size: 20px;
}

/* INÃCIO */

/* IMAGENS */
.logo_egp {
    width: auto;
    height: 70px;
    margin-right: 1rem;
}

.logo_seplag {
    width: auto;
    height: 90px;
    margin-left: 1rem;
}

/* TITULO */
.title {
    color: #26a737;
    font-size: 4rem;
    margin-top: 0.8rem;
}

/* TEXTO ABAIXO DO TITULO  */
.description {
    font-size: 1rem;
    margin-top: -0.6rem;
    color: rgb(75, 75, 75);
}

/* CLASSE PARA CENTRALIZAR OS DEMAIS CONTEUDOS   */
.center {
    display: flex;
    justify-content: center;
}

/* TITULO DA SEGUNDA PAGINA  */
.subtitle {
    color: #26a737;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
}

/* BACKGROUND DAS PAGINAS VERDES */
.pagina02 {
    background-color: #26a737;
}

/* TITULO BRANCO  */
.title_white {
    color: #ffff;
}

/* MARGEM DE TODOS OS TITULOS  */
.margin_title {
    margin: 3rem 4rem;
}

/* TITULO OBJETIVOS PARA CENTRALIZAR  */
.objetivos {
    margin: 30px 0;
}

/* PARAGRAFO DA PAGINA DE OBJETIVOS  */
.paragrafo {
    color: #ffff;
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin: 0 5%;
    font-weight: light;
}

/* TITULO DA PAGINA DE PRINCIPIOS */
.title_principios {
    display: flex;
    text-align: left;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 2rem;
}

/* IMAGENS DA PAGINA DE PRINCIPIOS */
.img_principios {
    height: 100px;
    margin-top: 2.5rem;
}

/* COLUNA QUE DIVIDE IMAGEM E CAIXAS DE TEXTO DA PAGINA DE PRINCIPIOS  */
.wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 2rem;
}

/* IMAGENS DAS PAGINAS COM CAIXA DE TEXTO  */
.img_pessoa {
    display: flex;
    justify-content: center ;
    margin-top: 6rem;
}

/* CAIXA DE TEXTO DA PAGINA DE PRINCIPIOS  */
.square {
    padding: 2rem;
    padding-left: 6rem;
    margin: 1.5rem 0;
}

/* TITULO DA CAIXA DA PAGINA DE PRINCIPIOS ESQUERDO */
.square .title {
    color: black;
    font-size: 30px;
    font-weight: bold;
}

/* TITULO CAIXA DE PRINCIPIOS DO LADO DIREITO */
.square2 .title {
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-align: end;
}

/* CAIXA DE TEXTO DE PRINCIPIOS LADO DIREITO  */
.square2 {
    padding: 2rem;
    padding-right: 6rem;
    margin: 1.5rem 0;
}

/* PARAGRAFO DA CAIXA DE TEXTO DO LADO DIREITO  */
.square2 p {
    display: flex;
    text-align: end;
}

/* ESTILO GERAL DOS PARAGRAFOS DE CAIXA DE TEXTO  */
.square p,
.square2 p {
    color: #ffff;
    font-size: 25px;
    font-weight: light;
}

/* CORES DAS CAIXAS */
.green {
    background-color: #26a737;
}

.darkorange {
    background-color: #e94f0e;
}

.orange {
    background-color: #e4a500;
}

.blue {
    background-color: #2db39e;
}

/* BOTOES PARA PASSAR DE PAGINA  */

.button {
    border: 1px solid #26a737;
    border-radius: 7px;
    color: #26a737;
    background: none;
    padding: 7px;
    margin: 1rem;
    opacity: 80%;
}

.icone {
    color: #26a737;
    margin: 0 5px;
}

.button:hover {
    color: #ffff;
    background-color: #26a737;
}

.button:hover>.icone {
    color: #ffff;
}

/* BOTOES BRANCOS  */

.button_white {
    color: #ffff;
    border: 1px solid #ffff;
    border-radius: 7px;
    background: none;
    padding: 7px;
    margin: 1rem;
    opacity: 80%;
}

.icone_white {
    color: #ffff;
    margin: 0 5px;
}

.button_white:hover {
    color: #26a737;
    background-color: #ffff;
}

.button_white:hover>.icone_white {
    color: #26a737;
}

/* DEIXAR BOTOES DE PAGINAS ESPECIFICAS FIXO  */
.button_fixed {
    position: fixed;
    bottom: 0;
    margin-left: calc(100% - 60%);
}
/* IMAGEM DE FUNDO DA PAGINA 03 E 04  */
.background_img {
    position: fixed;
    left: 0;
    bottom: 0;
}

/* PARAGRAFO DA PAGINA 03 */
.p_white {
    color: #ffff;
    font-weight: light;
    font-size: 28px;
    max-width: 70%;
    display: flex;
    text-align: left;
}

